<template>
  <md-card class="md-layout-item md-small-size-100">
    <md-card-header>
      <div class="md-title">店舗登録</div>
    </md-card-header>
    <form @submit.prevent="saveContact">
      <md-card-content>
        <md-field>
          <label for="shop">店舗名</label>
          <md-input name="shop" id="shop" placeholder="お店の名前" v-model="shop" required/>
        </md-field>
        <md-field>
          <label for="category">カテゴリー</label>
          <md-select name="category" id="category" v-model="category" required>
            <md-option></md-option>
            <md-option value="中華">中華</md-option>
            <md-option value="ラーメン">ラーメン</md-option>
            <md-option value="ハンバーガー">ハンバーガー</md-option>
          </md-select>
        </md-field>
        <md-field>
          <label for="area">エリア</label>
          <md-select name="area" id="area" v-model="area" required>
            <md-option></md-option>
            <md-option value="土佐堀">土佐堀</md-option>
            <md-option value="江戸堀">江戸堀</md-option>
            <md-option value="西本町">西本町</md-option>
          </md-select>
        </md-field>
        </div>
        <md-field>
          <label for="comment">コメント</label>
          <md-textarea v-model="comment" placeholder="コメント">></md-textarea>
        </md-field>
      </md-card-content>
      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary">登録</md-button>
      </md-card-actions>
    </form>
  </md-card>
</template>

<script>
import db from './firebaseInit';
export default {
  name: 'Add',
  data () {
    return {
      shop: null,
      category: null,
      area: null,
      comment: null
    }
  },
  methods: {
    saveContact () {
      db.collection('shops').add({
        shop: this.shop,
        category: this.category,
        area: this.area,
        comment: this.comment,
        slug: this.generateUUID()
      }).then(function (docRef,) {
        alert('登録完了しました', docRef.id);
      }).catch(function (error) {
        console.error('Error adding document: ', error);
      });
      this.$router.push( "/list" )
    },
    generateUUID () {
      let d = new Date().getTime();
      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        let r = (d + Math.random() * 16) % 16 | 0
        d = Math.floor(d / 16)
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
      });
      return uuid;
    }
  }
}
</script>