<template>
  <div id="BottomNav">
		<md-bottom-bar md-sync-route>
			<md-bottom-bar-item to="/list" md-label="一覧" md-icon="list"></md-bottom-bar-item>
			<md-bottom-bar-item to="/bookmark" md-label="ブックマーク" md-icon="bookmark_border"></md-bottom-bar-item>
			<md-bottom-bar-item to="/add" md-label="追加" md-icon="add_circle_outline"></md-bottom-bar-item>
		</md-bottom-bar>
  </div>
</template>
<script>
  export default {
    name: 'BottomNav'
  }
</script>
<style scoped lang="scss">
#BottomNav {
	width: 100%;
	position: fixed;
	bottom:0;
	left:0;
	z-index: 1;
}
</style>