<template>
  <md-app-toolbar class="md-primary">
    <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-title"><img src=".././assets/logo.svg"></span>
  </md-app-toolbar>
</template>
<!-- style中身は省略 -->
<style scoped lang="scss">
.md-title {
  img {
    width: 156px;
    height: 19px;
  }
}
</style>