<template>
	<div class="page-container">
    <md-card class="login-card">
      <md-card-header>
        <div class="md-title">Login</div>
      </md-card-header>

      <md-card-content>
        下記SNSアカウントを使ってログインしてください
      </md-card-content>

      <md-card-actions>
        <md-button v-on:click="signInWithGoogle()">Google</md-button>
        <md-button v-on:click="signInWithFacebook()">facebook</md-button>
      </md-card-actions>
    </md-card>
	</div>
</template>
<script>
import db from './firebaseInit';
import firebase from 'firebase';
export default {
  name: 'Login',
  data () {
    return {
			menuVisible: false
    }
  },
  methods: {
    signInWithGoogle: function() {
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithRedirect(provider).then((result) => {
        this.user = result.user;
        this.$router.push({path: '/list'});
      }).catch(err => console.log(error))
    },
    signInWithFacebook: function() {
      const provider = new firebase.auth.FacebookAuthProvider();
      firebase.auth().signInWithRedirect(provider).then((result) => {
        this.user = result.user;
        this.$router.push({path: '/list'});
      }).catch(err => console.log(error))
    }
  }
}
</script>