<template>
  <div id="app">
    <div class="page-container">
      <md-app md-mode="reveal">
        <md-app-toolbar class="md-primary" v-if="['List','Add'].indexOf($route.name) > -1">
          <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
            <md-icon>menu</md-icon>
          </md-button>
          <span class="md-title"><img src="./assets/logo.svg"></span>
        </md-app-toolbar>
        <md-app-drawer :md-active.sync="menuVisible" v-if="['List','Add'].indexOf($route.name) > -1">
          <md-toolbar class="md-transparent" md-elevation="0">
            <span class="md-title">設定</span>
          </md-toolbar>
          <md-list>
            <md-list-item>
              <md-avatar>
                <img :src="photoURL" :alt="displayName">
              </md-avatar>
              <span class="md-list-item-text">{{displayName}}</span>
            </md-list-item>
            <md-divider class="md-inset"></md-divider>
            <md-list-item>
              <md-icon>exit_to_app</md-icon>
              <span class="md-list-item-text" v-on:click="signOut()">ログアウト</span>
            </md-list-item>
          </md-list>
        </md-app-drawer>
        <md-app-content>
          <router-view/>
        </md-app-content>
      </md-app>
    </div>
    <BottomNav v-if="['List','Add'].indexOf($route.name) > -1"/>
  </div>
</template>

<script>
import db from '@/components/firebaseInit';
import firebase from 'firebase';
import BottomNav from '@/components/BottomNav';
export default {
  name: 'App',
  components : {
    BottomNav
  },
  data: () => ({
    menuVisible: false,
    displayName: null,
    email: null,
    photoURL: null
  }),
  beforeCreate: function() {
    var router = this.$router;
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.displayName = user.displayName;
        this.email = user.email;
        this.photoURL = user.photoURL;
        console.log(user);
      }else {
        router.push({path: '/'})
      }
    })
  },
  methods: {
    signOut: function() {
      var router = this.$router;
      firebase.auth().signOut().then(() => {
        this.displayName = null;
        this.email = null;
        this.photoURL = null;
        router.push({path: '/'})
      }).catch(err => console.log(error))
    },
  }
}
</script>
<style lang="scss">
body {
  background: url(/static/bg.jpg);
}
.md-app-toolbar {
  background: #fff!important;
}
.md-primary .md-icon {
  color: #000!important
}
.md-title {
  img {
    width: 156px;
    height: 19px;
  }
}
.md-app-container .md-content {
  background: url(./assets/bg.jpg);
  background-size: cover;
}
.md-content {
  padding: 20px 4% 78px;
}
</style>